html{
  background-image: url(https://images.squarespace-cdn.com/content/v1/57867c3203596edb2dc8e554/52774028-56f1-404f-89f7-7fc96abd8eab/16r.DSCF3697.jpg?format=2500w);
  background-attachment:fixed;
  background-size:250vh;
  background-position: center;
  cursor: url("Images/gauntlet\ clicker.png"), pointer;
}

a:hover {
    cursor: url("Images/Untitled\ design.png"), pointer;
}

.title{
     display: flex;
     justify-content: center;
     position: relative;
     top: 18vh;
     height:40vw;
   
    font-family: "Jacquard 24";
    font-weight: 400;
    font-style: normal;
    color: rgb(244, 227, 98);
    font-size: 30vw;
    mix-blend-mode:luminosity;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

.topbar{
  position:fixed;
  display: flex;
  top:0px;
  left: 0px;
  height: 100px;
  width:100%;
  background-color: rgb(0, 0, 0, .25);
  align-items:center;
  mix-blend-mode:luminosity;
  

  color:antiquewhite;
  font-size: 50px;
font-family: "Jacquard 12";
font-weight: 400;
font-style: normal;
letter-spacing: 3px;
}

.container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80vh 80vh 80vh;
  justify-content:space-evenly;
  font-family: "space-mono", serif;
}



.box1{
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  margin: 2%;
  padding: 2%;

  font-weight: 400;
  font-style: normal;
  font-size: 2.5vw;
  font-style: italic;
  color: antiquewhite;
}


.box2{
  grid-column: 2 / 2;
  grid-row: 1 / 3;
  margin: 2%;
  text-align: right;

  font-weight: 400;
  font-style: normal;
  font-size: 2.1vw;
  ;
  font-style: italic;
  color: antiquewhite;
}

.box3{
  display: flex;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 2%;
  justify-content:center ;
}

.box4{
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  margin: 1%;
   text-align: center;

  font-weight: 400;
  font-style: normal;
  font-size: 2.5vw;
  ;
  font-style: italic;
  color: antiquewhite;
  
}

.bottompaddinhg{
  height: 100px
}

.nextpage{
    font-family: "jacquarda-bastarda-9", sans-serif;
    font-size: 36;
    font-style: normal;
    transition: transform 0.3s ease; /* Smooth animation */
    display: inline-block; /* Required for scaling */
}

.nextpage:hover {
  transform: scale(1.2); 
  color:aliceblue;
}

a{
  color:antiquewhite;
  text-decoration: none;
}