html{
    background-color: black;
  cursor: url("Images/gauntlet\ clicker.png"), pointer;
}

a:hover {
    cursor: url("Images/Untitled\ design.png"), pointer;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    height:100%;
}

.box1 {
    width: 40%;
    align-content:center;
}
.box2{
    width: 40%;
    align-content: center;
    margin:2%;
    font-family: "instrument-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color:aliceblue;
    text-align: right;
}

.box2 p{
    font-size: 64;
    font-weight: bold;
}

#nextpage{
    font-family: "jacquarda-bastarda-9", sans-serif;
    font-size: 28;
    font-style: normal;
    transition: transform 0.3s ease; /* Smooth animation */
    display: inline-block; /* Required for scaling */
}

#nextpage:hover {
  transform: scale(1.2); 
  color:aliceblue;
}

a{
  color:aliceblue;
  text-decoration: none;
}

.fadein{
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}