html{
  background-image: linear-gradient(#FFB4E1, #82B98F, #EFD682);
  scroll-behavior: smooth;
  cursor: url("Images/gauntlet\ clicker.png"), pointer;
}

a:hover {
    cursor: url("Images/Untitled\ design.png"), pointer;
}

.container{
    display:flex ;
  align-content: center;
  justify-content: center;
  width:100%;
  height: 100%;
}

#page2{
    margin: 100px;
    font-family: "instrument-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    color:aliceblue;
    text-align: center;
    width: 100%;
    line-height: 100%;


}

#fin{
     font-family: "sloop-script-three", sans-serif;
font-weight: 400;
font-size: 96px;
}

#toc{
  font-family: "jacquarda-bastarda-9", sans-serif;
  font-size: 36px;
    transition: transform 0.3s ease; /* Smooth animation */
    display: inline-block; /* Required for scaling */
}

#toc:hover {
  transform: scale(1.2); 
  color:aliceblue;
}

a{
  color:antiquewhite;
  text-decoration: none;
}
