html{
  background-image: linear-gradient(#FFB4E1, #82B98F, #EFD682, #9B7794, #000000);
  background-color: black;
  height:301vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: url("Images/gauntlet\ clicker.png"), pointer;
}

a:hover {
    cursor: url("Images/Untitled\ design.png"), pointer;
}

.page1{
    font-family: "instrument-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 175px;
    color:aliceblue;
    text-align: center;
    height:95vh;
    width: 100%;
    line-height: 100%;
  
}


#page2{
  margin-top: 50;
    font-family: "instrument-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 175px;
    color:aliceblue;
    text-align: center;
    height:95vh;
    width: 100%;
    line-height: 100%;

    display:flex;
    justify-content: space-evenly;
    align-items: center;
  
}

#page3{
  margin-top: 50;
    font-family: "instrument-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color:aliceblue;
    height:95vh;
    width: 100%;
    line-height: 100%;

    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.page3textbox{
    font-family: "instrument-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    letter-spacing: 1px;
    color:aliceblue;
    text-align: left;
    height:95%;
    width: 95%;
    line-height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 -5px;

}

.toc{
  width:25%;
  height: 90%;
  
  border-color: rgb(240, 248, 255);
  border: 2px solid rgb(240, 248, 255);
}

.toc p{
    font-family: "jacquarda-bastarda-9", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    margin-bottom:0;
}

.toc a{
    font-family: "instrument-serif", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
    color:aliceblue;
    line-height: 150%;
}


.introtext{
  width:70%;
  height: 90%;

}

.introtext p{
    font-family: "instrument-serif", sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-decoration: none;
    color:aliceblue;
    line-height: 100%;
    text-align: left;
}

.introtext a{
    font-family: "jacquarda-bastarda-9", sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-decoration: none;
    color:aliceblue;
    line-height: 0px;
    justify-self:right;
    transition: transform 0.3s ease;
    display: inline-block;
}

.introtext a:hover{
  transform: scale(1.2);
}

.body{
    height: 100%;
    align-content: center;
    position: relative;
    animation: bounce 3s infinite ease-in-out;
    -webkit-text-stroke: 1px #BDCF72;
}

.zoom{
  animation: zoom 3s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-30px); 
  }
  100% {
    transform: translateY(0); 
  }
}

@keyframes zoom {
  0% {
    transform:scale(100%); 
  }
  50% {
    transform:scale(110%); 
  }
  100% {
    transform:scale(100%); 
  }
}

.description{
    height: 100%;
    line-height: 100%;
    align-content: center;
}

.script{
    font-family: "jacquarda-bastarda-9", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nextpage{
    font-family: "jacquarda-bastarda-9", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    position: fixed;
    bottom:0;
    right:100px;

    transition: transform 0.3s ease; /* Smooth animation */
    display: inline-block; /* Required for scaling */
}

.nextpage:hover {
  transform: scale(1.2); /* 1.2 = 120% of original size */
}

.zoom-text {
  transition: transform 0.3s ease; /* Smooth animation */
  display: inline-block; /* Required for scaling */
    position: relative;
    bottom: 150px;
    width:50%;
    display: flex;  
    align-items: center;
    justify-content: center;
    justify-self: center;
    color:aliceblue
}

a {
  text-decoration: none;
  color:aliceblue
}

.zoom-text:hover {
  transform: scale(1.2); /* 1.2 = 120% of original size */
}

/* Manifesto styling */

.manifesto{
  width:100%;
  font-family: "sloop-script-three", sans-serif;
font-weight: 400;
font-size: 400;
font-style: normal;
text-align: center;
position: relative;
bottom:-300;
right: 100;
mix-blend-mode:color-burn;
}

.page3textbox p{
  margin: 0 5px;
}

.space{
  letter-spacing: 21vw;
  font-size: 64;
}

.jacquarda{
     font-family: "jacquarda-bastarda-9", sans-serif;
    font-weight: 400;
}

marquee{
  width:100%;
  font-family: "sloop-script-three", sans-serif;
font-weight: 400;
font-size: 100;
height: 150px;
align-content:space-around;
color: rgb(240, 248, 255, 0);
-webkit-text-stroke: .5px rgb(240, 248, 255);
}

.writers{
  position:relative;
  bottom: 50px;
  left:50px;
  font-family: "jacquarda-bastarda-9", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color:aliceblue;
    mix-blend-mode: difference;
}
