html{
    background-color: black;
      display: flex;
    align-content: center;
    justify-content: center;
    cursor: url("Images/sword-2.png");
}

.title{

font-family: "jacquarda-bastarda-9", sans-serif;
font-weight: 400;
font-size: 120px;
font-style: normal;
color:aliceblue;
position: fixed;
top:0;
left:20;
}

.description{
    font-family: "Fondamento";
    font-size: 36;
    position: fixed;
    text-align: right;
    bottom:100;
    right:20;
    color:aliceblue;
}

.nextpage{
    font-family: "jacquarda-bastarda-9", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    position: fixed;
    animation: rise 0.25s ease-in;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    bottom: -30px;
    right:30px;
    transition: transform 0.3s ease; /* Smooth animation */
    display: inline-block; /* Required for scaling */
}

.nextpage:hover {
  transform: scale(1.2); 
}
a {
  text-decoration: none;
  color:aliceblue
}

.fadein-onload{
  opacity: 0; 
  animation: fadeIn 2s ease-in-out forwards; 
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}
  
@keyframes rise {
  from {
    bottom:-30px;
  }
  to {
    bottom:50px;
  }
}