html{
    font-family: "instrument-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 175px;
    color:aliceblue;
    text-align: center;

    line-height: 100%;
    background-image: linear-gradient(#FFB4E1, #82B98F, #EFD682);
    height:100%
  
}

.body{
    height: 100%;
    align-content: center;
    animation: bounce 0.6s infinite ease-in-out;
    -webkit-text-stroke: 1px #BDCF72;
}

.description{
    height: 100%;
    line-height: 100%;
    align-content: center;
    animation: bounce 0.6s infinite ease-in-out;
}

.script{
    font-family: "jacquarda-bastarda-9", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nextpage{
    font-family: "jacquarda-bastarda-9", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    position: fixed;
    bottom:0;
    right:100px;

    transition: transform 0.3s ease; /* Smooth animation */
    display: inline-block; /* Required for scaling */
}

.nextpage:hover {
  transform: scale(1.2); /* 1.2 = 120% of original size */
}

.zoom-text {
  transition: transform 0.3s ease; /* Smooth animation */
  display: inline-block; /* Required for scaling */
    position: fixed;
    bottom:-15px;
    width:100%;
    display: flex;  
    align-items: center;
    justify-content: center;
    color:aliceblue
}

a {
  text-decoration: none;
  color:aliceblue
}

.zoom-text:hover {
  transform: scale(1.2); /* 1.2 = 120% of original size */
}