html{
    background-image: linear-gradient(black, #3D658E);
    height: 310vh;
    width: 100%;
     cursor: url("https://freepngimg.com/thumb/minecraft/80411-angle-symbol-diamond-minecraft-sword-png-file-hd-thumb.png"), auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container div {

  width: 40%;
  height: 200vh;
  margin: 10px;
  font-size: 30px;
  text-align: center;
}

.bottomcontent{
  padding: 20px;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: "Fondamento", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color:aliceblue;
}

.title{
  position:absolute;
  top: 60px;
  left: 50px;
  font-family: "jacquarda-bastarda-9", sans-serif;
  font-weight: 400;
  font-size: 96px;
  font-style: normal;
  color:aliceblue;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

.lefttext{
  padding: 40px;
  text-align: left;
  font-family: "space-mono", serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
color:aliceblue;
opacity: 0;
animation: fadeIn 2s ease-in-out forwards;
}

.righttext{
  text-align: right;
  font-family: "space-mono", serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  color:aliceblue;
}

.lyrics{
  font-family: "jacquarda-bastarda-9", sans-serif;
  font-weight: 400;
  position:fixed;
  top:10;
  font-size: 24px;
  color:aliceblue;
  mix-blend-mode: difference;
}

.nextpage{
     font-family: "jacquarda-bastarda-9", sans-serif;
    font-size: 36;
    font-style: normal;
    position: absolute;
    right:40px;
    transition: transform 0.3s ease; /* Smooth animation */
    display: inline-block; /* Required for scaling */
}

.nextpage:hover {
  transform: scale(1.2); 
}

a{
  color:aliceblue
}